@page "/projectenUsers/{ProjectId:int}"


@attribute [Authorize]

@if (_project is null)
{
    <p>Even geduld ...</p>
}
else
{
<h1 class="title is-3">@_project.Name</h1>
<button @onclick="Open">Add User</button>
<div class="card-body table is-striped is-hoverable">
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var User in _users)
        {
        <tr data-test-id="virtualmachine-item">
            <td>@User.Email</td>
            <td>@(User.FirstName + " " + User.Name)</td>
            <td>
                <button @onclick="() => RemoveUserToProject(User.Id)">Remove User</button>
            </td>
        </tr>

        }
        </tbody>
    </table>
</div>
<ProjectsFilter Filter="filter"/>
<SidepanelComponent Title="User to Choose to add to project" @ref="sidepanel">
        <h3 class="title is-size-6 has-text-grey">Zoek</h3>
        <ProjectsFilter Filter="filter"/>
        <div class="card-body table is-striped is-hoverable">
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Acties</th>
                </tr>
            </thead>
            @foreach (var kl in Users)
            {
                <tbody>
                    <tr>
                        <td>@kl.Email</td>
                        <td>
                            <button @onclick="() => AddUserToProject(kl.Id)">
                                Add
                            </button>
                        </td>
                    </tr>

                </tbody>
            }
        </table>
    </div>
</SidepanelComponent>
}
@code {

    private void Open()
    {
        sidepanel.Open();
    }

    private void Close()
    {
        sidepanel.Close();
    }
}