.card[b-kdzmawofa2]{
    height: 250px;
}
.card-body[b-kdzmawofa2] {
    padding: 1rem;
}

.card-header[b-kdzmawofa2] {
    background-color: black;
}

.card-header-title[b-kdzmawofa2] {
    color: white;
}
