@page "/virtualmachines/add"

<EditForm Model="virtualMachine" OnValidSubmit="@CreateVirtualMachineAsync">
  <DataAnnotationsValidator />
  <ValidationSummary />
  <h1 class="title is-3">Virtual Machine</h1>
  <h1 class="title is-4">Algemeen</h1>
  <div class="field columns">
    <div class="column">
      <label class="label">Project</label>
      <!-- TODO add projects -->
      <div class="control is-expanded has-icons-left">
        <div class="select is-primary is-fullwidth">
          <select>
            <option>Project A</option>
            <option>Project B</option>
            <option>Project C</option>
            <option>Project D</option>
            <option>Project E</option>
            <option>Project F</option>
          </select>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-folder"></i>
        </div>
      </div>
    </div>
    <div class="column">
      <label class="label">Naam</label>
      <p class="control has-icons-left">
        <InputText
          class="input"
          @bind-Value="virtualMachine.Name"
          placeholder="Naam VM"
        />
      </p>
    </div>
  </div>
  <div class="field columns">
    <div class="column">
      <label class="label">Backup</label>
      <div class="control has-icons-left">
        <InputSelect @bind-Value="virtualMachine.Backup.Type">
          <option>Geen</option>
          <option value="BackUpType.DAILY">Dagelijks</option>
          <option value="BackUpType.WEEKLY">Wekelijks</option>
          <option value="BackUpType.MONTHLY">Maandelijks</option>
        </InputSelect>
      </div>
    </div>
  </div>
  <h1 class="title is-4">Hardware</h1>
  <div class="field columns">
    <div class="column">
      <label class="label">Besturingssysteem</label>
      <div class="control has-icons-left">
        <div class="select is-primary is-fullwidth">
          <InputSelect @bind-Value="virtualMachine.OperatingSystem">
            <option value="OperatingSystemEnum.WINDOWS_10">Wondows 10</option>
            <option value="OperatingSystemEnum.WINDOWS_SERVER2019">
              Windows Server 2019
            </option>
            <option value="OperatingSystemEnum.KALI_LINUX">Kali Linux</option>
            <option value="OperatingSystemEnum.UBUNTU_22_04">
              Ubuntu 22 04
            </option>
            <option value="OperatingSystemEnum.FEDORA_36">Fedora 36</option>
            <option value="OperatingSystemEnum.FEDORA_35">Fedora 35</option>
          </InputSelect>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-globe"></i>
        </div>
      </div>
    </div>
    <div class="column">
      <label class="label">RAM</label>
      <div class="control has-icons-left">
        <div class="select is-primary is-fullwidth">
          <InputSelect @bind-Value="virtualMachine.Hardware.Memory">
            <option value="4">4 Gb</option>
            <option value="8">8 Gb</option>
            <option value="16">16 Gb</option>
            <option value="32">32 Gb</option>
          </InputSelect>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-server"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="field columns">
    <div class="column">
      <label class="label">Opslag</label>
      <div class="control has-icons-left">
        <div class="select is-primary is-fullwidth">
          <InputSelect @bind-Value="virtualMachine.Hardware.Storage">
            <option value="64">64 Gb</option>
            <option value="128">128 Gb</option>
            <option value="256">256 Gb</option>
            <option value="512">512 Gb</option>
            <option value="1024">1024 Gb</option>
          </InputSelect>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-hard-drive"></i>
        </div>
      </div>
    </div>
    <div class="column">
      <label class="label">CPU's</label>
      <div class="control is-expanded has-icons-left">
        <InputNumber
          class="input"
          @bind-Value="virtualMachine.Hardware.Amount_vCPU"
        />
        <span class="icon is-left">
          <i class="fas fa-microchip"></i>
        </span>
      </div>
    </div>
  </div>
  <h1 class="title is-4">Periode</h1>
  <div class="field columns">
    <div class="column">
      <label class="label">Startdatum</label>
      <div class="control is-expanded has-icons-left">
        <InputDate
          @bind-Value="virtualMachine.Start"
          Placeholder="Enter Date"
        />
        <span class="icon is-left">
          <i class="fas fa-calendar-days"></i>
        </span>
      </div>
    </div>
    <div class="column">
      <label class="label">Einddatum</label>
      <div class="control is-expanded has-icons-left">
        <InputDate @bind-Value="virtualMachine.End" Placeholder="Enter Date" />
        <span class="icon is-left">
          <i class="fas fa-calendar-days"></i>
        </span>
      </div>
    </div>
  </div>
  <button class="button is-rechts is-success" type="submit">
    <span class="icon is-small">
      <i class="fas fa-check"></i>
    </span>
    <span>Virtual Machine aanvragen</span>
    <!--TODO fix button-->
  </button>
</EditForm>
@code {
    public Boolean isTemplate { get; set; } = false; public void
    toggleTemplate()
    { isTemplate = !isTemplate; }
} 
