@page "/"
@using Append.Blazor.Sidepanel

<PageTitle>Home</PageTitle>
<h1 class="title is-1">Virtual Machines</h1>

<!--Switch to us Auth0 -->
<!--<FakeLogin></FakeLogin>-->
<Client.Layout.AccessControl></Client.Layout.AccessControl>


@code {
    [Inject] public ISidepanelService Sidepanel { get; set; }

    private void ToggleFilterForm()
    {
        if (Sidepanel.IsOpen) Sidepanel.Close();
        else Sidepanel.Open<Client.VirtualMachines.Components.VMFilter>("Virtual Machines", "Filter");
    }
}
