<div class="field">
    <div class="control has-icons-left">
        <div>
            <input class="input" @bind="Filter.SearchTerm" type="search" placeholder="Zoeken...">
        </div>
        <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
        </span>
    </div>
</div>
<div class="field">
    <label class="label has-text-grey">VirtualMachine Mode</label>
    <div class="control is-expanded">
        <div class="select is-fullwidth">
            <select @bind="Filter.Mode">
                <option selected value="">Select...</option>
                <option value="WAITING_APPROVEMENT">Waiting Approvement</option>
                <option value="READY">Ready</option>
                <option value="RUNNING">Runnning</option>
                <option value="PAUSED">Paused</option>
                <option value="STOPPED">Stopped</option>
                <!--@foreach (var virtualMachineMode in Enum.GetValues(typeof(VirtualMachineMode)))
                {
                    <option value="@virtualMachineMode">@virtualMachineMode</option>
                }-->
            </select>
        </div>
    </div>
</div>